/* Define styles for the countdown and its components */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.countdown {
    text-align: center;
}

.time-left {
    position: relative;
}

.rat-gif {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px; /* Add margin for spacing */
}

.countdown-subtext {
    margin-top: 10px; /* Add margin for spacing */
}

/* Define styles for the loading icon */
.loading-icon {
    display: inline-block; /* Display inline to be next to the countdown text */
    width: 20px;
    height: 20px;
    background: #375bd2;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    animation: rotateHexagon 5s linear infinite;
    margin-left: 5px; /* Add margin for spacing */
}

@keyframes rotateHexagon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
